<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/AutoJava_IJ/SeleniumTestNG/src/test/java/first/OrangeHRMTest.java">
        <classes>
            <class name="first.OrangeHRMTest">
                <methods>
                    <include name="open_app"/>
                    <include name="test_logo"/>
                    <include name="login"/>
                    <include name="close_app"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>